@import "../../globals";
.messenger {
  display: grid;
  width: 100%;
  height: calc(100vh - 10vh);
  background: #eeeef1;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: 1px solid black;
}

.messages-section {
  border: 5px solid green;
  grid-row: 1/3;
}
.scrollable {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 2;
}


.content {
  background: white;
  grid-row-start: 1;
  grid-row-end:  2;
  grid-column-start: 2;
  display: flex;
  flex-direction: column-reverse;
}

// .send_message {
//   grid-row-start: 2;
//   grid-row-end: 3;
//   grid-column-start: 2;
//   height: 100%;
// }

@media (max-width: 414px) {
  .messenger {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  // .conversation_list {
  //   grid-column: 1/3;
  // }
  // .messages {
  //   grid-column: 1/3;
  // }
}