@import '../../globals';
.register-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.options {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
    margin-top: 50px;
    //grid-gap: 20px;
}

.option-column {
    border-radius: 5px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px;
    align-items: center;
}

.arrowangle {
    justify-self: end;

}
.arrowangle i{
    font-weight: 10 !important;
    color: #718c91;
    font-size: 20px;
}

.fb {
    color: white !important;
    background-color :#4469b0;
    border-radius: 4px;
    // height: 20px;
    width: 30px;
    font-size: 10px !important;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
}

.option-column:hover {
    cursor: pointer;
    background-color:#ededed;
}

.option-para p {
    font-size: 20px;
    color: #0a4751;
}
.line-break {
    width: 50%;
    margin: 5px;
    border-bottom: 1px solid #dddddd;
    height: 1px;
}

.membre {
    justify-self: start;
    width: 50%;
    margin: 50px auto;
}

.membre a {
    color: $firstColor;
}

@media (max-width: 414px) {
    .register-container {
        width: 100%;
    }
    .option-column {
        width: 90%;
    }
    .line-break {
        width: 90%;
    }
}