@import '../../globals';
.register-form {
    display: grid;
    justify-items: center;
}

.register-form p{
    margin: 50px 0 30px 0;
    font-size: 18px;
    font-weight: 600;
}

.register-form input {
    border: 1px solid #eee;
    width: 500px;
    line-height: 1.2em;
    border-radius: 5em;
    color: inherit;
    padding: 0.6em 1em;
    font-family: $secondFont;
}

.btn-primary {
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    background-color: #1eb0f2;
    cursor: pointer;
    font-size: 16px;
    font-family: $secondFont;
    margin: 20px;
    justify-self: center;
}

@media (max-width: 414px) {
    .register-form p{
        margin: 50px 0 30px 0;
        font-size: 14px;
        font-weight: 600;
    }

    .register-form input {
        border: 1px solid #eee;
        width: 300px;
        line-height: 1.2em;
        border-radius: 5em;
        color: inherit;
        padding: 0.6em 1em;
        font-family: $secondFont;
    }
}